@model MVC.Models.TakeBookInfo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TakeBookInfo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiveDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiveDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TakeBackDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TakeBackDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Person)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Person.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Book)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Book.About)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
